extends ../layouts/main-layout.pug

block styles
	link(rel="stylesheet", href="/css/product.css")
	script(src="/js/admin.js", defer)

block content
	main
		if products.length > 0
			.grid
				each product in products
					- productId = product._id;

					article(id=`product_${productId}`)

						<div class="card mb-3" style="max-width: 700px;">
							<div class="row g-0">
								<div class="col-md-4 my-2">
									- var imageUrl = product.imageUrl;
									img(src=imageUrl, alt="Book",class="img-fluid rounded-start" ,style="max-width: 200px;")
								</div>
								<div class="col-md-8">
									<div class="card-body">
										h5.card-title #{ product.title }
										- var productDesc = product.description.split(' ').splice(0, 30).join(' ');
										p.card-text #{ productDesc }...

										h6.card-text $ #{ product.price }

										.card__actions
											- editLink = `/admin/edit-product/` + product._id + '?edit=true';
											a(href=editLink).btn.btn-primary Edit

											input(type='hidden', value = productId, name="productId")
											button.btn.danger(type='button', onclick='deleteProduct(this)', data-productId=productId) Delete
									</div>
								</div>
							</div>
						</div>


		else
			h1.centered No Products