extends ../layouts/main-layout.pug
include ../mixin/add-to-cart.pug
include ../mixin/pagination.pug

block styles
	link(rel="stylesheet", href="/css/product.css")

block content
	main
		if products.length > 0
			.grid
				each product in products
					article.card-group
						<div class="card mb-3" style="max-width: 500px;">
							<div class="m-3" style="display: flex; justify-content: center; align-items: center; max-height:300px;">
								- var imageUrl = product.imageUrl;
								img(src=imageUrl, alt="Book",class="card-img-top" ,style="max-width: 200px; max-height: 300px; object-fit: contain;")
							</div>
							<div class="card-body">
								h5.card-title #{ product.title }
								- var productDesc = product.description.split(' ').splice(0, 30).join(' ');
								p.card-text #{ productDesc }...

								h6.card-text $ #{ product.price }

								.card__actions
									- let productUrl = `/products/${product._id}`
									a(href=productUrl).btn.btn-primary Details

									if isAuthanticated
										+addToCart(product.id)
							</div>
						</div>

			hr
			+pagination(currentPage, totalProducts, hasNextPage, hasPreviousPage, nextPage, previousPage, lastPage)

		else
			h1.centered No Products
